{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> -->
</head>
<body>
Bootswatch
Themes
Help
Blog
Superhero
Built With Bootstrap
WrapBootstrap
Superhero
The brave and the blue


Navbars
Navbar
Home (current)
Features
Pricing
About

Search
Search
Navbar
Home (current)
Features
Pricing
About

Search
Search
Navbar
Home (current)
Features
Pricing
About

Search
Search
Buttons
Primary  Secondary  Success  Info  Warning  Danger  Link

Primary  Secondary  Success  Info  Warning  Danger  Link

Primary  Secondary  Success  Info  Warning  Danger

Primary
  Success
  Info
  Danger

Large button  Default button  Small button
Block level button
Checkbox 1
Checkbox 2
Checkbox 3
 Radio 1
Radio 2
Radio 3
 Button
Button
Button
Button
Button
Button
 Left
Middle
Right
 1
2
3
4
5
6
7
8
Typography
Heading 1
Heading 2
Heading 3
Heading 4
Heading 5
Heading 6

Heading with muted text
Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

Example body text
Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.

This line of text is meant to be treated as fine print.

The following is rendered as bold text.

The following is rendered as italicized text.

An abbreviation of the word attribute is attr.

Emphasis classes
Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.

Nullam id dolor id nibh ultricies vehicula ut id elit.

Etiam porta sem malesuada magna mollis euismod.

Donec ullamcorper nulla non metus auctor fringilla.

Duis mollis, est non commodo luctus, nisi erat porttitor ligula.

Maecenas sed diam eget risus varius blandit sit amet non magna.

Blockquotes
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.

Someone famous in Source Title
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.

Someone famous in Source Title
Tables
#   Column heading  Column heading  Column heading
1   Column content  Column content  Column content
2   Column content  Column content  Column content
3   Column content  Column content  Column content
4   Column content  Column content  Column content
5   Column content  Column content  Column content
6   Column content  Column content  Column content
7   Column content  Column content  Column content
Forms
Legend
Email address
Enter email
We'll never share your email with anyone else.
Password
Password
Example select
Example multiple select 12345
Example textarea
File input Choose File
This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.
Radio buttons
Option one is this and that—be sure to include why it's great
Option two can be something else and selecting it will deselect option one
Option three is disabled
Check me out
Submit
Disabled input
Disabled input here...
Readonly input
Readonly input here…
Valid input
Success! You've done it.
Invalid input
Sorry, that username's taken. Try another?
Large input
Default input
Small input
Input addons
Amount (in dollars)
$

Amount
.00
Navs
Tabs
Home
Profile
Disabled
Dropdown
Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.

Pills
Active
Dropdown
Link
Disabled

Active
Dropdown
Link
Disabled
Breadcrumbs
Home
Home
Library
Home
Library
Data
Pagination
«
1
2
3
4
5
»
«
1
2
3
4
5
»
«
1
2
3
4
5
»
Indicators
Alerts
×
Warning!
Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.

×Oh snap! Change a few things up and try submitting again.
×Well done! You successfully read this important alert message.
×Heads up! This alert needs your attention, but it's not super important.
Badges
Primary Secondary Success Danger Warning Info Light Dark
Primary Secondary Success Danger Warning Info Light Dark
Progress
Basic
Contextual alternatives
Multiple bars
Striped
Animated
Containers
Jumbotron
This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.

Learn more

List groups
14 Cras justo odio
2 Dapibus ac facilisis in
1 Morbi leo risus
Cras justo odio
Dapibus ac facilisis in
Morbi leo risus
List group item heading
Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.

List group item heading
Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.

Cards
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.

Someone famous in Source Title
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.

Someone famous in Source Title
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.

Someone famous in Source Title
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.

Someone famous in Source Title
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.

Someone famous in Source Title
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.

Someone famous in Source Title
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.

Someone famous in Source Title
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.

Someone famous in Source Title
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.

Someone famous in Source Title
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.

Someone famous in Source Title
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.

Someone famous in Source Title
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.

Someone famous in Source Title
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.

Someone famous in Source Title
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.

Someone famous in Source Title
Card header
Special title treatment

Support card subtitle
Card image
Some quick example text to build on the card title and make up the bulk of the card's content.

Card link Another link
2 days ago
Dialogs
Modals
Modal title
×
Modal body text goes here.

Save changes
Close
Popovers
Left  Top  Bottom  Right
Tooltips
Left  Top  Bottom  Right
Source Code
×
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
        {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'registration_register' %}">Register</a>
      </li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<!-- <nav>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Log Out</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Log In</a></li>
        <li><a href="{% url 'registration_register' %}">Register</a></li>
        {% endif %}
    </ul>
</nav> -->


{% if request.user.is_authenticated %}
<h2> Welcome You Have Full Access </h2>
{% endif %}


{% block content %}{% endblock %}

</body>
</html>


