{% extends 'base.html' %}

{% block title %}Welcome to {{profile.user}}'s profile!{% endblock %}


{% block body %}
<ul>
    <h1>THIS IS PROFILE PAGE</h1>
    {% if user.is_authenticated %}
        <h1>{{ userdata.username }}'s Profile</h1>
        <p>Bio: {{profile.bio}}</p>
        <p>Website: {{profile.website}}</p>
        <p>Phone: {{profile.phone}}</p>
        {% if user.username == userdata.username %}
            <p>address: {{user.address}}</p>
            <p>Camera Type: {{user.camera_type}}</p>
            <p>Contact Info: {{user.phone}}</p>
        {% endif %}
    {% endif %}
</ul>
{% endblock %}