{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}<h2>Welcome to {{user.username}}'s album: {{album.title}}!</h2>{% endblock %}


{% block body %}

<div class="container">
    <div class="row">
        {% for photo in photos %}

        <div class="col">
            <div class="card dpg-album-card">

                <div class="card-image">
                    <img src="{{ photo.photo.url }}" class="dpg-photo-card-image" height=500 weight=500/>
                </div>

                <div class="card-content">
                    <span class="card-title">From Album: {{ album.title }}</span>
                </div>
                <div class="card-action">
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
</div>


{% endblock %}